<container>
    <!-- Start of Top Footer -->
    <row class="footer_top">
        <!-- Start of Top Footer Left Section -->
        <columns class="footer_left" large = "6" small= "6">
            <row>
                <columns large="2">
                    <img src="{{root}}/assets/img/kayak_img/logo_circle.png" alt="logo_circle" class="footer_logo">
                </columns>
                <columns large="10" class="info_padding">
                    <p class="download">Download the App</p>
                    <p class="info">Cheap flights, hotels & more</p>
                </columns>
            </row>
        </columns>
        <!-- End of Top Footer Left Section -->

        <!-- Start of Top Footer Right Section -->
        <columns class="footer_right" large = "6" small= "6">
            <row>
                <columns>
                    <img src="{{root}}/assets/img/kayak_img/appstore.png" alt="appstore">
                </columns>
                <columns>
                    <img src="{{root}}/assets/img/kayak_img/playstore.png" alt="playstore" class="playstore_logo">
                </columns>
            </row>
        </columns>
        <!-- End of Top Footer Right Section -->
    </row>
     <!-- End of Top Footer -->
</container>