<container>
    <!-- Start of Header Section -->
    <row class="header">
      <columns class="header_padding" small="6" large="6"  valign="middle">
        <img src="https://i.imgur.com/tRYkQFx.png" alt="logo_white" class="logo_img">
      </columns>
      <columns class="header_padding" small="6" large="6" valign="middle">
        <img src="https://i.imgur.com/fQ7bHsL.png" alt="user" class="user_img float-right" >
      </columns>
    </row>
     <!-- End of Header Section -->
     <!-- Start of Sub Header Section -->
     <row class="sub_header">
      <columns small="12" large="12" class="sub_padding">
        <img src="https://i.imgur.com/6VUOABE.png" alt="submenu" class="submenu_img">
      </columns>
    </row>
      <!-- End of Sub Header Section -->
  </container>